.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "sidebar topbar topbar topbar"
                        "sidebar visitors visitors visitors";
  gap: 25px;
  background-color: rgb(245, 241, 241);
  font-family: 'Courier New', Courier, monospace;
}

h2{
  font-size: 20px;
}

ul{
  list-style-type:none;
  font-weight: bold;
  
}

.topbar{
  grid-area: topbar;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "reviews average analysis";
  gap: 25px;
}

.sidebar{
  background-color: lightgrey;
  grid-area: sidebar;
}

.reviews{
  background-color: lightgrey;
  grid-area: reviews;
}

.average{
  background-color: lightgrey;
  grid-area: average;
}

.analysis{
  background-color: lightgrey;
  grid-area: analysis;
  text-align: center;
}

.visitors{
  background-color: lightgrey;
  grid-area: visitors;
}

.empty{
  grid-area: empty;
  background-color: darkgray;
  height: 300px;
  width: 700px;
  margin: 100px;
}

.center{
  margin-top: 50%;
}